
#hero {
    background-image: url('/website/assets/img/bg.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    background-position: bottom;
    height: 700px;
}

img[src="/website/assets/img/1.jpg"]{
    width: 15%;
}
img[src="/website/assets/img/2.jpg"]{
    width: 15%;
}

#first-section, #second-section {
    height: 500px;
}