body{
    background: #BDBDBD;
}

#hero {
    background-image: url('/website/assets/img/bg.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    background-position: bottom;
    height: 700px;
}