<!-- your html code here -->
<div class="row text-secondary p-5 d-flex justify-content-center" id="contact">
    <div class="col-12 mb-5">
        <h3 class="text-black">
            Contact
        </h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit veniam beatae tempora excepturi facere
            assumenda, facilis est, maxime voluptatibus totam laborum odit cumque quae consectetur ut sequi? In, nisi
            inventore? 
        </p>
    </div>
    <div class="col-8 col-md-10 bg-light p-5 rounded-3">
        <form action="" >

                <div class="form-floating mb-4">
                  <input type="text" class="form-control" id="floatingInput" placeholder="Email">
                  <label for="floatingInput">Correo electrónico</label>
                </div>
            
                <div class="form-floating mb-4">
                  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                  <label for="floatingTextarea2" class="text-secondary">Ingresa el mesaje aqui</label>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary" type="submit">Enviar</button>
                </div>
                
              
            </div>
        </form>
    </div>
</div>