<div class="container-fluid" style="background-image: url('assets/img/bg.jpg');
                                    background-size: cover;
                                    background-position: center;
                                    height: 50vh;">
    <div class="row">
        <div class="col text-center text-light mt-5"> <!-- Agregando margen superior -->
            <h1 class="display-1 text-dark bg-white mb-4">One Page Wonder</h1>
            <h1 class="display-3 text-dark bg-white">Display 3 Will Knock Your Socks Off</h1>
        </div>
    </div>
</div>
