<div class="row" id="first-section">
  <div class="col d-flex align-items-center justify-content-center p-5">
    <div class="me-5 w-50">
      <h4 class="text-end"><b>This first heading</b> will catch you eye  </h4>
      <p class="text-end ">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit veniam
        beatae tempora excepturi facere assumenda, facilis est, maxime
        voluptatibus totam laborum odit cumque quae consectetur ut sequi? In, nisi
        inventore?
      </p>
    </div>
    <img src="/website/assets/img/1.jpg" alt="" class="rounded-circle" />
  </div>
</div>
<hr>
