
<div class="row text-secondary bg-success">
    <div class="col-12 mt-0 p-0">
        <h3 class="text-black mb-0">
            Portfolio
        </h3>
        <p class="mb-0">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit veniam beatae tempora excepturi facere
            assumenda, facilis est, maxime voluptatibus totam laborum odit cumque quae consectetur ut sequi? In, nisi
            inventore?
        </p>
    </div>
    <div class="col-4 mt-0 p-0">
        <img src="/website/assets/img/big-project-image.png" alt="" class="rounded-3 w-100">
        <h6 class="text-black fs-5 ">Titulo</h6>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate odit cupiditate asperiores beatae</p>
    </div>
    <div class="col-4 mt-0 p-0">
        <img src="/website/assets/img/big-project-image.png" alt="" class="rounded-3 w-100">
        <h6 class="text-black fs-5">Titulo</h6>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate odit cupiditate asperiores beatae</p>
    </div>
    <div class="col-4 mt-0 p-0">
        <img src="/website/assets/img/big-project-image.png" alt="" class="rounded-3 w-100">
        <h6 class="text-black fs-5">Titulo</h6>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate odit cupiditate asperiores beatae</p>
    </div>
</div>