
<div class="row p-5" id="portfolio">
    <div class="col-12 mb-5">
        <h3 class="text-black mb-0">
            Portfolio
        </h3>
        <p class="mb-0">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit veniam beatae tempora excepturi facere
            assumenda, facilis est, maxime voluptatibus totam laborum odit cumque quae consectetur ut sequi? In, nisi
            inventore?
        </p>
    </div>
    <div class="col-lg-4 col-md-12">
        <img src="/website/assets/img/big-project-image.png" alt="" class="rounded-3 img-fluid mb-4">
        <h6 class="text-black fs-5 ">Titulo</h6>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate odit cupiditate asperiores beatae</p>
    </div>
    <div class="col-lg-4 col-md-12 mb-3">
        <img src="/website/assets/img/big-project-image.png" alt="" class="rounded-3 img-fluid mb-4">
        <h6 class="text-black fs-5">Titulo</h6>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate odit cupiditate asperiores beatae</p>
    </div>
    <div class="col-lg-4 col-md-12 mb-3">
        <img src="/website/assets/img/big-project-image.png" alt="" class="rounded-3 img-fluid mb-4">
        <h6 class="text-black fs-5">Titulo</h6>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate odit cupiditate asperiores beatae</p>
    </div>
</div>
<hr>