<!-- your html code here -->
<!-- <div class="row">
    <h3>
        Portfolio
    </h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit veniam beatae tempora excepturi facere assumenda, facilis est, maxime voluptatibus totam laborum odit cumque quae consectetur ut sequi? In, nisi inventore?
    </p>
</div>
<div class="row">
    <div class="col-4">
        <img src="https://picsum.photos/200/200" alt="" class="w-100 rounded-3">
        <h6>Titulo</h6>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate odit cupiditate asperiores beatae</p>
    </div>
    <div class="col-4">

    </div>
    <div class="col-4">

    </div>
</div> -->

<div class="row text-secondary p-5 m-0">
    <div class="col-12">
        <h3 class="text-black">
            Portfolio
        </h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit veniam beatae tempora excepturi facere
            assumenda, facilis est, maxime voluptatibus totam laborum odit cumque quae consectetur ut sequi? In, nisi
            inventore?
        </p>
    </div>
    <div class="col">
        <img src="https://picsum.photos/id/120/200/200" alt="" class="w-75 rounded-3">
        <h6 class="text-black fs-5 py-2">Titulo</h6>
        <p class="p-0 m-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate odit cupiditate asperiores beatae</p>
    </div>
    <div class="col">
        <img src="https://picsum.photos/id/121/200/200" alt="" class="w-75 rounded-3">
        <h6 class="text-black fs-5 py-2">Titulo</h6>
        <p class="p-0 m-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate odit cupiditate asperiores beatae</p>
    </div>
    <div class="col">
        <img src="https://picsum.photos/id/122/200/200" alt="" class="w-75 rounded-3">
        <h6 class="text-black fs-5 py-2">Titulo</h6>
        <p class="p-0 m-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate odit cupiditate asperiores beatae</p>
    </div>
</div>