<!-- your html code here -->
<div class="row bg-white">
    <div class="col d-flex align-items-center justify-content-center p-5">
        <img src="/website/assets/img/2.jpg" alt="" class="rounded-circle w-25" />
      <div class="ms-5 w-50">
        <h4 class=""><b>The second heading</b> is pretty cool too.</h4>
        <p class="">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit veniam
          beatae tempora excepturi facere assumenda, facilis est, maxime
          voluptatibus totam laborum odit cumque quae consectetur ut sequi? In, nisi
          inventore?
        </p>
      </div>
      
     
      
    </div>
  </div>